# Project exclude paths
.gradle
.idea
build
.build
properties
sql
application-local-db.properties
#/src/test
#/src/test/java/xyz/cafeaddy/rest/lcs
/src/test/java/xyz/cafeaddy/rest/lcs/domain/sample
application-jwt.properties
